{% extends "partials/template.html" %}
{% block Title %}Resultados{% endblock %}
{% block StyleSheet %}"../../static/css/search/search.css"{% endblock %}
{% block main %}
    <main class="UfoNight__SearchResults">
        <div class="UfoNight__SearchResultsPage">

            <h2 class="fetch_title_result_private">{{Search_word}}</h2>
            
            <div class="UfoNight__SearchFiltersBox_Toggle">
                
                <div class="UfoNight__SearchFiltersBox_Toggle__change UfoNight__SearchFiltersBox_Toggle__change180">^</div>
            </div>
            
            <form action="" class="UfoNight__SearchFiltersBox_Form">
                <div class="UfoNight__SearchFiltersBox">

                    <form class="FilterBox_item InvisibleBug" name="Invisible">

                    </form>

                    <div class="FilterBox" id="Tipo_nave">
                        <h3>Tipo de Nave</h3>
    
                        <form class="FilterBox_item" name="Tipo_Nave__Redonda">
                            <input type="checkbox" name="" id="" class="Tipo_Nave__check" value="redonda">
                            <label class="h4FilterItem" for="">Redonda</label>
                        </form>
    
                        <form class="FilterBox_item" name="Tipo_Nave__Triangular">
                            <input type="checkbox" name="" id="" class="Tipo_Nave__check" value="triangular"> 
                            <label>Triangular</label>
                        </form>
    
                        <form class="FilterBox_item" name="Tipo_Nave__Quadrada">
                            <input type="checkbox" name="" id="" class="Tipo_Nave__check" value="quadrada">
                            <label>Quadrada</label>
                        </form>
                        
                    </div>
    
                    <div class="FilterBox" id="especie">
                        <h3>Especie</h3>
    
                        <form class="FilterBox_item" name="Especie__HighGrey">
                            <input type="checkbox" name="" id="" class="Tipo_Especie__check" value="high grey">
                            <label>High Grey</label>
                        </form>
    
                        <form class="FilterBox_item" name="Especie__SmallGrey">
                            <input type="checkbox" name="" id="" class="Tipo_Especie__check" value="small grey">
                            <label>Small Grey</label>
                        </form>
    
                        <form class="FilterBox_item" name="Especie__Nordico">
                            <input type="checkbox" name="" id="" class="Tipo_Especie__check" value="nordic">
                            <label>Nordico</label>
                        </form>
                        
                    </div>
    
                    <div class="FilterBox" id="grau">
                        <h3>Grau de Contato</h3>
    
                        <form class="FilterBox_item" name="Grau__um">
                            <input type="checkbox" name="" id="" class="Tipo_Grau__check" value="1"> 
                            <label>Primeiro Grau</label>
                        </form>
    
                        <form class="FilterBox_item" name="Grau__dois">
                            <input type="checkbox" name="" id="" class="Tipo_Grau__check" value="2">
                            <label>Segundo Grau</label>
                        </form>
    
                        <form class="FilterBox_item" name="Grau__tres">
                            <input type="checkbox" name="" id="" class="Tipo_Grau__check" value="3">
                            <label>Terceiro Grau</label>
                        </form>
                        
                    </div>

                    
                </div>
                <button class="FilterSearch__send_form_btn">Filtrar</button>
            </form>
            

            <div class="UfoNight__ResultsContainer">
                
                {%for Result in Search_Results%}
                <div class="UfoNight__Result__ItemBoxContainer">
                    <a class="UfoNight__Result__ImageContainer" href="">
                        <img class="UfoNight__Result__Image" src="" alt="">
                    </a>
                    <div class="UfoNight__Result__AboutContainer">
                        <a href="" class="UfoNight__Result__Title">{{Result.get_info("titulo")}}</a>
                        <span class="UfoNight__Result__Desc">{{Result.get_info("desc")}}</span>
                        <form class="UfoNight__Result__TagContainer" name="TagItens" method="POST" action="/procurar_tag">
                            <input type="text" name="Search_Item_tag" class="Search_Item_tag" style="display: none;" id="">
                        </form>
                    </div>
                    <div class="UfoNight__Result__FavoriteContainer">
                        <button class="UfoNight__Result__FavoriteBtn">
                            <img class="UfoNight__Result__NotFavoriteImg" src="../../static/img/star_border_white.svg" alt="Favorite">
                            <img class="UfoNight__Result__FavoriteImg noDisplay" src="../../static/img/star_white.svg" alt="Favorite">
                        </button>
                    </div>
                </div> 
                {%endfor%}
                
                
                
            </div>

            <div class="UfoNight__ResultsPageContainer">
                <div class="UfoNight__ResultsPages__text ">
                    <span>{{nmr_results}}</span>
                </div>
                <div class="UfoNight__ResultsPages__FirstPages UfoNight__ResultsPages">
                    <a href="" class="UfoNight__ResultsPageItem UfoNight__ResultsPageItem_FirstPageItem">
                        1
                    </a>
                </div>
                <div class="UfoNight__ResultsPages__mainPages UfoNight__ResultsPages">
                    <a href="" class="UfoNight__ResultsPageItem">
                        2
                    </a>
                    <a href="" class="UfoNight__ResultsPageItem">
                        3
                    </a>
                    <a href="" class="UfoNight__ResultsPageItem">
                        4
                    </a>
                </div>
                <div class="UfoNight__ResultsPages__endPages UfoNight__ResultsPages">
                    <a href="" class="UfoNight__ResultsPageItem">
                        10
                    </a>
                </div>
            </div>

        </div>
        <script src="../../static/js/search/search.js"></script>
    </main>

{% endblock %}