{% block footer %}
<footer class="UfoNight__Footer">
    <link rel="stylesheet" href="../../static/css/partials/footer/footer.css">
    <div class="UfoNight__Footer__Container">
        <div class="UfoNight__Footer__ItemInfo">
            <a href="" class="UfoNight__Footer__ItemInfo__a">Termos de Uso</a>
            <a href="" class="UfoNight__Footer__ItemInfo__a">Politica de dados</a>
            <a href="" class="UfoNight__Footer__ItemInfo__a">Mapa do site</a>
            <a href="" class="UfoNight__Footer__ItemInfo__a">Inicio</a>
        </div>
        <div class="UfoNight__Footer__ItemInfo">
            <img class="UfoNight__Footer__ItemInfo__img" src="../../static/img/UfoNightLogoWhite.svg" alt="">
            <a href="" class="UfoNight__Footer__ItemInfo__a">2020 Todos os direitos reservados</a>
        </div>
        <div class="UfoNight__Footer__ItemInfo">
            <a href="" class="UfoNight__Footer__ItemInfo__a">Ajuda</a>
            <a href="" class="UfoNight__Footer__ItemInfo__a">Contato</a>
            <a href="" class="UfoNight__Footer__ItemInfo__a">Ajude o projeto</a>
            
        </div>
    </div>
</footer>
{% endblock %}