{% block nav %}
<nav class="UfoNight__Nav">
    <link rel="stylesheet" href="../../static/css/partials/nav/nav.css">
    <div class="UfoNight__Nav__Highlights__Container">

        <a class="UfoNight__Nav__Highlights__Item__a"href="">Destaques</a>
        <a class="UfoNight__Nav__Highlights__Item__a"href="">Brasil</a>
        <a class="UfoNight__Nav__Highlights__Item__a"href="">Abduções</a>
        <a class="UfoNight__Nav__Highlights__Item__a"href="">Misterios</a>
        <a class="UfoNight__Nav__Highlights__Item__a"href="">Conspiração</a>
        <a class="UfoNight__Nav__Highlights__Item__a"href="">Curiosidades</a>
        <a class="UfoNight__Nav__Highlights__Item__a"href="">Categorias</a>

    </div>
    
</nav>
{%endblock%}