@import '../../style/base.scss';

.UfoNight__Header{

    height: 50px;
    background-color: $mainColor;
    @extend %WidthPadding;
    display: flex;
    @extend %flexRow;
    @extend %EndBlockBorder
}

.UfoNight__Header__Container{
    width: 100%;
    height: 100%;
    @extend %flexRow;

}
.UfoNight__Header__ContainerItem{
    width: 33%;
    height: 100%;
    @extend %flexRow;
}

.UfoNight__Header__UserMenuToggle__Container{
    justify-content: flex-end;
}
.UfoNight__Header__Logo__Img{
    max-width: 100%;
    max-height: 40px;
}

.UfoNight__Header__SearchForm__Input{
    width: 375px;
    height: 25px;
    padding: 0px;
    border: none;
}

.UfoNight__Header__SearchForm__Btn{
    cursor: pointer;
    height: 25px;
    width: 25px;
    border: none;
    padding: 0px;
    background-color: white;
    @extend %flexRow;
    transition: 1s;
    justify-content: center;
}
.UfoNight__Header__SearchForm__Btn:hover{
    transition: 1s;
    filter: invert(100);
}
.UfoNight__Header__SearchForm__Btn__Img{
    width: 12px;
    
}

.UfoNight__Header__UserMenuToggle__UserName{
    color: white;
    margin-right: 5px;
    margin-top: 1px;
}

.UfoNight__Header__UserMenuToggle__UserPic{
    width: 25px;
    height: 25px;
    padding: 0px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
}
.UfoNight__Header__UserMenuToggle__UserPicImg{
    max-width: 25px;
    max-height: 25px;
}

.UfoNight__Header__Logo__ImgSmall{
    display: none;
    max-width: 100%;
    max-height: 40px;
}

@media screen and (max-width: 1200px){
    .UfoNight__Header__UserMenuToggle__Container{
        justify-content: center;
    }
    .UfoNight__Header__Logo__Container{
        justify-content: center;
    }
}
@media screen and (max-width: 800px){
    .UfoNight__Header__ContainerItem{
        width: 100%;
    }
    .UfoNight__Header__SearchForm__Container{
        justify-content: center;
        flex-shrink: 1;
    }
    .UfoNight__Header__SearchForm__Input{
        width: 85%;
    }
    .UfoNight__Header__Logo__Img{
        display: none;
    }
    .UfoNight__Header__Logo__ImgSmall{
        display: block;
    }

    .UfoNight__Header__UserMenuToggle__Container{
        justify-content: center;
        flex-shrink: 2;
    }
    .UfoNight__Header__Logo__Container{
        justify-content: center;
        flex-shrink: 2;
    }
}
@media screen and (max-width: 380px){
    .UfoNight__Header__UserMenuToggle__UserName{
        display: none;
    }
}