.UfoNight__Post__container, .Post__picture__container, .Post__MainInfos__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.noDisplay {
  display: none;
}

.UfoNight__Post {
  min-height: calc(100vh - 240px);
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.UfoNight__Post__container {
  background-color: Black;
  width: 100vw;
  max-width: 1200px;
  height: auto;
  min-height: calc(100vh - 240px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Post__picture__container {
  width: 100%;
  height: 500px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Post__picture_img {
  max-width: 500px;
}

.Post__MainInfos__container {
  width: 100%;
  height: 100px;
  border: 1px solid gray;
  border-left: 0px;
  border-right: 0px;
}

.Post__MainInfos__container div {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.Post__MainInfos_Title {
  width: 50%;
  overflow: hidden;
}

.Post__MainInfos_Title_h2 {
  display: block;
  color: white;
  width: 100%;
  height: 100%;
}

.Post__MainInfos_Favorite {
  width: 50%;
  overflow: hidden;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.Post__MainInfos_FavoriteBtn {
  background-color: transparent;
  border: none;
}

.Post__MainInfos_FavoriteImg {
  width: 30px;
  cursor: pointer;
}

.Post__MainInfos_Tags::before {
  margin-left: 5px;
  margin-right: 1px;
  content: "Tags:";
  color: white;
}

.Post__MainInfos_Tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
  overflow: hidden;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Post__MainInfos_tagA {
  color: white;
}

.Post__MainInfos_Data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
  overflow: hidden;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.Post__MainInfos_DataH3 {
  color: white;
  margin-right: 5px;
}

.Post__Comments__container {
  width: 99%;
  padding-left: 0.5%;
  padding-right: 0.5%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid gray;
}

.Post__CommentsH2 {
  display: block;
  color: white;
  width: calc(100% - 5px);
  margin-left: 5px;
  height: 35px;
  font-size: 30px;
}

.Comment__item {
  width: 300px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 10px;
}

.Comment__item_Text_container {
  background-color: white;
  width: 240px;
}

.Comment__item_profile_pic {
  width: 60px;
}

.Comment__item_profile_pic_img {
  width: 50px;
  height: 50px;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 20px;
}

.Comment__item_Text_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.Comment__item_Text_MainInfos {
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.Comment__item_Text_MainInfos_By::after {
  content: "disse :";
}

.Comment__item_Text_MainInfos_By {
  display: block;
  font-size: 14px;
  width: 85%;
}

.Comment__item_Text_MainInfos_votes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  width: 15%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Comment__item_Text_MainInfos_votes button {
  width: 10px;
  height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: none;
}

.Comment__item_Text_MainInfos_votes button img {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.Comment__DownVote_IMG {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.Comment__item_profile_pic_warning {
  display: block;
  width: 50px;
  height: 20px;
  word-wrap: break-word;
  color: red;
  font-size: 9px;
}

.Comment__item_Text_Text {
  display: block;
  width: 240px;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Comment__item_Text_Text_span {
  display: block;
  width: 230px;
  height: 120px;
  word-wrap: break-word;
  font-size: 12px;
}
/*# sourceMappingURL=post.css.map */